# My keymap

'.platform-win32, .platform-linux':
  'ctrl-0': 'tree-view:usnet!'

'atom-text-editor':
  'ctrl-alt-b': 'atom-beautify:beautify-editor'
  'ctrl-shift-/': 'window:focus-pane-on-right'

'.platform-win32 atom-text-editor':
  'ctrl-shift-.': 'window:focus-pane-on-left'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-e': 'editor:move-to-end-of-screen-line'

# タブの動きを従来に戻す.
'body':
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
