// style the background color of the tree view
.tree-view {
    // background-color: whitesmoke;
}

atom-text-editor {
    // 背景色
    background-color: hsl(200, 50%, 14%);
    font-family: "Ricty Diminished Discord"
}

atom-text-editor::shadow {
    // カーソルの色
    .cursor {
        border-color: fadein(cyan, 100%);
    }

    // スクロールバーを無効
    .vertical-scrollbar {
        opacity: 0;
        width: 0;
    }

    .gutter .cursor-line {
        background-color: hsl(200, 50%, 14%);
    }

    .highlights .highlight-selected .region {
        border-color: fade(cyan, 20%);
    }

    .highlights {
        .selection .region {
            background: fade(cyan, 20%);
        }
        .find-result .region {
            border: 0;
            background: fade(cyan, 20%);
        }
    }
    // スクロールバーを非表示
    .gutter {
      background-color: hsl(200, 50%, 14%);
    }
}

// 点滅を無効
atom-text-editor.is-focused::shadow .cursors .cursor {
    opacity: 1;
}
